################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/app.whitelabel/app.whitelabel.data/appsettings.json
